html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%;
}
body {
    /*background: url('../images/bg.jpg') no-repeat center center fixed;*/
    background-color: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

canvas {
    position:absolute;
    top:0;
    left: 0;
    z-index:1000;
}

video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    /*height:100%;*/
    z-index:1;
}

#stats {
    z-index:1001;
}
